 /*here is the css's comment*/
 body {
     font-family: Arial, sans-serif;
     margin: 10px auto;
     background-color: blanchedalmond;
 }

 span {
     margin-left: 20px;
     padding: 5px;
 }

 .v {
     background-color: aqua;
 }

 .s {
     background-color: rgb(113, 71, 21);
 }

 .w {
     background-color: aquamarine;
 }

 h1 {
     text-align: center;
     /*position of text*/
     color: rgb(234, 234, 232);
 }

 header {
     background-color: rgb(180, 84, 20);
     height: 200;

 }

 a {
     color: rgb(234, 234, 232);

 }

 nav {

     text-align: center;
     /*position of text*/
 }

 nav a {
     margin: 10px;
     /*spce between nav*/

 }

 button {
     color: rgb(57, 40, 18);
     background-color: rgb(90, 55, 4);
     font: bold 1em Arial, sans-serif;

 }

 form {
     max-width: 400px;
     margin: 20px auto;
 }

 label {
     display: block;
     margin-top: 10px;
 }

 input {
     width: 100%;
     padding: 5px;
 }

 button {

     width: 100%;
     padding: 10px;
     margin-top: 20px;
 }

 #resultContainer {
     margin-top: 20px;
     text-align: center;
 }

 aside {
     color: #2e0404;
     background-color: rgb(191, 108, 53);
     padding: 10px;
     position: fixed;
     left: 0;
     top: 0;
     bottom: 0;
     width: 200px;
 }

 aside h2 {
     color: #f6f6f6;
     margin-bottom: 10px;
 }

 aside p {
     margin: 5px 0;
 }

 aside a {
     color: #fcf7f0;
     text-decoration: none;
     /*ลบเส้นใต้ของ dev */
 }

 aside a:hover {
     text-decoration: underline;
     /*เมื่อเคอร์เซอร์ไปสัมผัสที่ตรงนั้น มันจะแสดงเป็นขีดเส้นใต้*/
 }

 main {
     margin-left: 220px;
     /* Adjust the margin to create space for the sidebar */
     padding: 20px;
 }

 footer {
     text-align: center;
     /*ให้มันอยู่ตรงกลาง*/
 }